.button{
   
    background-color: rgb(2, 77, 77);
    border: 1px solid bisque;
    color:bisque;
    padding:1rem 2rem;

font-size: 1.1rem;
cursor: pointer;
transition: all .2s ease-in;
box-shadow:var(--box-shadow);
border-radius:2rem ;
}
.button:hover{
    color:rgb(35, 236, 169);
    background-color: rgb(105, 105, 9);
    border:1px solid beige;
}